* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #28DF99;
}

.content{
    text-align: center;
}

h1 {
    color: #1B262C;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: calc( 20px + 1.8vw);
    letter-spacing: 5px;
    margin: 2rem 0;
    background-color: #9B45E4;
}

.p-content {
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
    width: 80%;
    margin: auto;
}

span {
    font-weight: bold;
    letter-spacing: 4px;
    margin-left: 0.5rem;
}